<%- include("partials/header"); -%>
<h1>Welcome to the fight for the throne</h1>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item <% if(page == 0) { %> disabled <% } %>">
            <a class="page-link" href="/previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <%
        var stPage = 0;
        if(page < 2) { stPage = 1; } else { stPage = page; } %>
        <li class="page-item">
            <a class="page-link" href="/page/<%= stPage %>">
                <%= stPage %>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <%= stPage +1 %>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <%= stPage +2 %>
            </a>
        </li>
        <li class="page-item">
        <a class="page-link" href="/next"><span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
</nav>
<div class="container text-center">
    <div class="row">
        <% characters.forEach((person) => { %>
        <div class="col-lg-4 col-md-6 vpñ-sm-8">
            <div class="card" style="width: 18rem;">
                <img src=<%=person.image %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=person.name %>
                    </h5>
                    <a href=<%=person.id %> class="btn btn-primary">More information</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<%- include("partials/footer"); -%>